<% if user_signed_in? %>
  <div class="container">
    <div class="main_view">
      <div class="row">
        <div class="col-lg-9">
          <%= render 'shared/post_form' %>
          <%= render 'shared/feed' %>
        </div>
        <div class="col-lg-3">
          <div class="user_top">
            <% if !current_user.image.blank?%>
              <img src=<%= current_user.image %> class = "icon_image_prof">
            <% else %>
                <%= image_tag 'usericon.png', class: 'icon_image_prof'%>
            <% end %>
            <%= link_to current_user.name, current_user, class: "user_top_name" %>
          </div>
        
          <div class="user_top2">
            <span class="recommended">おすすめ</span>
            <span class="all_user"><%= link_to "すべてを見る", users_path %></span>
          </div>
            <ul class="users">
              <%= render @users %>
            </ul>
        </div>
      </div>
    </div>
  </div>

<% else %>
  <div class="center">
    <% provide(:title, "ホーム") %>
    <div class="top_image">
      <%= image_tag "cattop.jpg", class: "top_cat" %>
      <div class="top_image2">
        <%= image_tag "logo.png", class: "top_logo" %>
        <%= link_to "新規登録", new_user_registration_path, class: "top_btn" %>
      </div>
    </div>
  </div>
<% end %>