/ フォローとフォロワーの一覧表示
- provide(:title, @title)
.container
  .main_view
    .row
      .col-lg-9
        %h3= @title
        - if @users.any?
          %ul.users.follow
            = render @users
          = will_paginate
        - else
          %h3.text-center ユーザーと繋がろう！
      %aside.col-lg-3
        %section.user_info
          = render 'shared/user_info'
        %section.stats
          = render 'shared/stats'
