- provide(:title, @user.name)
.container
  .main_view
    .row
      .col-lg-8
        %h3= @title
        - if @user.likes.any?
          %ol.posts
            = render @posts
          = will_paginate @posts
        - else
          %h3.text-center いいねしていません！
      %aside.col-lg-4
        %section.user_info
          = render 'shared/user_info'
        %section.stats
          = render 'shared/stats'