/ ログイン後の投稿欄とボタン
= form_with(model: @post, local: true, class:"post_form") do |f|
  .form-item
    = f.text_area :content, placeholder: "キャプションを書く", id:"form_caption"
    %span.picture
      = f.label :picture, class: 'picture_label' do
        = icon('far', 'image',class: "picture_icon fa_icon")
        #picture_file
          = f.file_field :picture, accept: 'image/jpeg,image/gif,image/png,video/*'
  = f.submit "投稿する", class: "btn_post"
