<!-- ログイン後home画面のプロフィール画像、名前、メールアドレス-->
<div class="user_top">
  <h1>
    <% if !@user.image.blank?%>
    <img src=<%= @user.image %> class="icon_image_prof">
    <% else %>
    <%= image_tag 'usericon.png' %>
    <% end %>
    <%= @user.name %>
  </h1>
</div>
<span class="profile"><%= @user.profile %></span>

<div class="action_btn">
<!--ダイレクトメッセージ-->
  <% unless @user.id == current_user.id %>
    <% if @isRoom == true %>
      <a href="/rooms/<%= @roomId %>" class="fas fa-envelope fa_icon2"></a>
    <% else %>
    <%= form_with model: @room do |f| %>
      <%= fields_for @entry do |e| %>
      <%= e.hidden_field :user_id, value: @user.id %>
      <% end %>
    <%= f.button type: "submit", class: "btn_dm" do %>
      <i class="fas fa-envelope fa_icon2"></i>
    <% end %>
  <% end %>
  <% end %>
  <% end %>
  <!--YouTube-->
  <% unless @user.youtube.blank?%>
    <%= link_to @user.youtube , method: :get do %>
      <i class="fab fa-youtube fa_icon2 youtube_icon"></i>
    <% end %>
  <% end %>
  
  <!--フォローボタン-->
  <%= render 'follow_form' if user_signed_in? %>
</div>