/ タイムライン
%li{:id => "post-#{post.id}"}
  .user_timeline
    - if !post.user.image.blank?
      %img{:src => "<haml_loud"}/
      post.user.image  class = "icon_image_feed"&gt;
    - else
      = image_tag 'usericon.png', class: 'icon_image_feed'
    %span.user_name= link_to post.user.name, post.user
  %div
    - if post.picture?
      - if post.picture.file.content_type.include?('image/')
        = link_to image_tag(post.picture.url(:thumb), width: "100%", height: "100%"),post if post.picture?
      - else
        = video_tag post.picture.url, width: "100%", height: "100%", |
          controls: true, autobuffer: true                           |
    %span{:id => "like_form_#{post.id}"}
      - if post.liked_by.include?(current_user)
        = render "posts/unlike", post: post
      - else
        = render "posts/like", post: post
    .content_timeline
      = post.content
    = link_to "コメントを見る", post, class: 'comments_view'
  / -投稿時間
  %span.timestamp
    = time_ago_in_words(post.created_at)
    前
    - if current_page?(current_user)
      = link_to "削除", post, method: :delete, data: { confirm: "削除しますか?" }
