<!--投稿の詳細表示-->

<!--投稿者名とプロフ画像-->
<div class="container">
  <div class="main_view">
    <div class="user_timeline">
      <% if !@post.user.image.blank?%>
      <img src=<%= @post.user.image %> class="icon_image_feed">
      <% else %>
      <%= image_tag 'usericon.png', class: 'icon_image_feed'%>
      <% end %>
      <span class="user_name"><%= link_to @post.user.name, @post.user %></span>
    </div>
    <!--投稿画像-->
    <% if @post.picture.file.content_type.include?('image/') %>
        <%= link_to image_tag(@post.picture.url(:thumb), width: "100%", height: "100%"),@post if @post.picture?  %>
      <% else %>
        <%= video_tag @post.picture.url, width: "100%", height: "100%", 
                                        controls: true, autobuffer: true %>
      <% end %>
    <!--いいね-->
    <span id="like_form_<%= @post.id %>">
      <% if @post.liked_by.include?(current_user) %>
        <%= render "posts/unlike", post: @post %>
      <% else %>
        <%= render "posts/like", post: @post %>
      <% end %>
    </span>
    <!--キャプション-->
    <div class="content_timeline"><%= @post.content %></div>
    <!---投稿時間-->
    <span class="content_timeline"><%= time_ago_in_words(@post.created_at) %>前</span>
    <!--コメント-->
    <% if current_user %>
    <%= form_with(model: [@post, @comment], local: true) do |form| %>
    <div class="comment_form">
      <div class="form-item">
      <%= form.text_area :text, placeholder: "コメントを書く", rows: "2" %>
      </div>
    <%= form.submit "投稿", class: "btn_comment" %>
    </div>
    <% end %>
    <% else %>
    <strong>
      <p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
    </strong>
    <% end %>
    <div class="comments">
      <% if @comments %>
      <% @comments.each do |comment| %>
      <p>
        <% if !comment.user.image.blank?%>
        <img src=<%= comment.user.image %> class="icon_image_feed">
        <% else %>
        <%= image_tag 'usericon.png', class: 'icon_image_feed'%>
        <% end %>
        <%= link_to comment.user.name, "/users/#{comment.user_id}" %>
        <%= comment.text %>
      </p>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>